.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
h1 {
    font-family: fantasy;
    font-size: 3em;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #999;
    box-shadow: 1px 1px 2px #999;
    width: 400px;
    font-weight: 100;
    margin:  auto;
}
img {
    width: 450px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}